<a href="https://colab.research.google.com/github/SaifuliAnna/DataScience_HW2/blob/main/Hw2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Часть вторая: Анализ файлов**

In [ ]:
!pip install lxml

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (4.9.2)

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
from unicodedata import normalize

# **2 Проведите анализ файла 2017_jun_final.csv. Файл содержит результаты опроса разработчиков в июне 2017 года.**

# 2.1 - Прочитайте файл 2017_jun_final.csv с помощью метода read_csv

In [ ]:
jun_final = pd.read_csv("2017_jun_final.csv")

In [ ]:
len(jun_final)

8704

In [ ]:
print(jun_final)

         N                 Должность Язык.программирования Специализация  \
0        1        Junior QA engineer                   NaN     Manual QA
1        2        Junior QA engineer                   NaN     Manual QA
2        3         Software Engineer               C#/.NET           NaN
3        4         Software Engineer            JavaScript           NaN
4        5  Senior Software Engineer            JavaScript           NaN
...    ...                       ...                   ...           ...
8699  8700               QA engineer                   NaN     Manual QA
8700  8701                 Marketing                   NaN           NaN
8701  8702  Junior Software Engineer            Ruby/Rails           NaN
8702  8703                 Team lead                   NaN           NaN
8703  8704  Senior Software Engineer                  Java           NaN

     Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0                  0.5                          0.5               400
1     меньше 3 месяцев             меньше 3 месяцев               430
2                    4                            1              2500
3                    5                            4              2000
4       10 и более лет                          0.5              4500
...                ...                          ...               ...
8699                 1             меньше 3 месяцев               700
8700               0.5                          0.5               400
8701                 1                          0.5               800
8702                 6                            4              2600
8703                 7                            2              5000

      Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                    0  Харьков       до 10 человек  ...
1                                  130  Харьков  свыше 1000 человек  ...
2                                  800     Киев     до 1000 человек  ...
3                                  400   Одесса      до 200 человек  ...
4                                  500   Другой       до 10 человек  ...
...                                ...      ...                 ...  ...
8699                               700   Одесса       до 50 человек  ...
8700                               120     Киев       до 50 человек  ...
8701                               500    Львов       до 10 человек  ...
8702                                 0    Днепр  свыше 1000 человек  ...
8703                               800   Одесса     до 1000 человек  ...

     Еще.студент Уровень.английского                    Предметная.область  \
0           True       ниже среднего                         iOS,eCommerce
1           True       выше среднего                        Веб-разработка
2          False             средний  Веб-разработка,Корпоративные системы
3          False       ниже среднего   Desktop Applications,Веб-разработка
4          False             средний   Desktop Applications,Веб-разработка
...          ...                 ...                                   ...
8699       False             средний          Android,Desktop Applications
8700       False       ниже среднего                             eCommerce
8701       False       выше среднего  Веб-разработка,Корпоративные системы
8702       False         продвинутый                       Финансы и банки
8703       False       выше среднего                        Веб-разработка

          Дата.заполнения                                         User.Agent  \
0     12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1     12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2     12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3     12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4     12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...
...                   ...                                                ...
8699  12/07/2017 15:45:24  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8700  12/07/2017 17:00:06  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8701  12/07/2017 17:32:26  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8702  12/07/2017 18:14:59  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...
8703  12/07/2017 21:28:57  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...

       exp current_job_exp salary Валюта  cls
0      0.5             0.5    400    NaN   QA
1      0.0             0.0    430    NaN   QA
2      4.0             1.0   2500    NaN  DEV
3      5.0             4.0   2000    NaN  DEV
4     10.0             0.5   4500    NaN  DEV
...    ...             ...    ...    ...  ...
8699   1.0             0.0    700    NaN   QA
8700   0.5             0.5    400    NaN  NaN
8701   1.0             0.5    800    NaN  DEV
8702   6.0             4.0   2600    NaN   PM
8703   7.0             2.0   5000    NaN  DEV

[8704 rows x 25 columns]

In [ ]:
final_copy = jun_final.copy()

In [ ]:
print(final_copy)

         N                 Должность Язык.программирования Специализация  \
0        1        Junior QA engineer                   NaN     Manual QA
1        2        Junior QA engineer                   NaN     Manual QA
2        3         Software Engineer               C#/.NET           NaN
3        4         Software Engineer            JavaScript           NaN
4        5  Senior Software Engineer            JavaScript           NaN
...    ...                       ...                   ...           ...
8699  8700               QA engineer                   NaN     Manual QA
8700  8701                 Marketing                   NaN           NaN
8701  8702  Junior Software Engineer            Ruby/Rails           NaN
8702  8703                 Team lead                   NaN           NaN
8703  8704  Senior Software Engineer                  Java           NaN

     Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0                  0.5                          0.5               400
1     меньше 3 месяцев             меньше 3 месяцев               430
2                    4                            1              2500
3                    5                            4              2000
4       10 и более лет                          0.5              4500
...                ...                          ...               ...
8699                 1             меньше 3 месяцев               700
8700               0.5                          0.5               400
8701                 1                          0.5               800
8702                 6                            4              2600
8703                 7                            2              5000

      Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                    0  Харьков       до 10 человек  ...
1                                  130  Харьков  свыше 1000 человек  ...
2                                  800     Киев     до 1000 человек  ...
3                                  400   Одесса      до 200 человек  ...
4                                  500   Другой       до 10 человек  ...
...                                ...      ...                 ...  ...
8699                               700   Одесса       до 50 человек  ...
8700                               120     Киев       до 50 человек  ...
8701                               500    Львов       до 10 человек  ...
8702                                 0    Днепр  свыше 1000 человек  ...
8703                               800   Одесса     до 1000 человек  ...

     Еще.студент Уровень.английского                    Предметная.область  \
0           True       ниже среднего                         iOS,eCommerce
1           True       выше среднего                        Веб-разработка
2          False             средний  Веб-разработка,Корпоративные системы
3          False       ниже среднего   Desktop Applications,Веб-разработка
4          False             средний   Desktop Applications,Веб-разработка
...          ...                 ...                                   ...
8699       False             средний          Android,Desktop Applications
8700       False       ниже среднего                             eCommerce
8701       False       выше среднего  Веб-разработка,Корпоративные системы
8702       False         продвинутый                       Финансы и банки
8703       False       выше среднего                        Веб-разработка

          Дата.заполнения                                         User.Agent  \
0     12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1     12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2     12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3     12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4     12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...
...                   ...                                                ...
8699  12/07/2017 15:45:24  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8700  12/07/2017 17:00:06  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8701  12/07/2017 17:32:26  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8702  12/07/2017 18:14:59  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...
8703  12/07/2017 21:28:57  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...

       exp current_job_exp salary Валюта  cls
0      0.5             0.5    400    NaN   QA
1      0.0             0.0    430    NaN   QA
2      4.0             1.0   2500    NaN  DEV
3      5.0             4.0   2000    NaN  DEV
4     10.0             0.5   4500    NaN  DEV
...    ...             ...    ...    ...  ...
8699   1.0             0.0    700    NaN   QA
8700   0.5             0.5    400    NaN  NaN
8701   1.0             0.5    800    NaN  DEV
8702   6.0             4.0   2600    NaN   PM
8703   7.0             2.0   5000    NaN  DEV

[8704 rows x 25 columns]

# 2.2 - Прочитайте полученную таблицу используя метод head

In [ ]:
final_c = final_copy.head()

In [ ]:
final_c

,N,Должность,Язык.программирования,Специализация,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,...,Еще.студент,Уровень.английского,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харьков,до 10 человек,...,True,ниже среднего,"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,меньше 3 месяцев,меньше 3 месяцев,430,130,Харьков,свыше 1000 человек,...,True,выше среднего,Веб-разработка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Киев,до 1000 человек,...,False,средний,"Веб-разработка,Корпоративные системы",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV
3,4,Software Engineer,JavaScript,NaN,5,4,2000,400,Одесса,до 200 человек,...,False,ниже среднего,"Desktop Applications,Веб-разработка",12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,NaN,DEV
4,5,Senior Software Engineer,JavaScript,NaN,10 и более лет,0.5,4500,500,Другой,до 10 человек,...,False,средний,"Desktop Applications,Веб-разработка",12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,NaN,DEV

In [ ]:
final_copy.head()

,N,Должность,Язык.программирования,Специализация,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,...,Еще.студент,Уровень.английского,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харьков,до 10 человек,...,True,ниже среднего,"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,меньше 3 месяцев,меньше 3 месяцев,430,130,Харьков,свыше 1000 человек,...,True,выше среднего,Веб-разработка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Киев,до 1000 человек,...,False,средний,"Веб-разработка,Корпоративные системы",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV
3,4,Software Engineer,JavaScript,NaN,5,4,2000,400,Одесса,до 200 человек,...,False,ниже среднего,"Desktop Applications,Веб-разработка",12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,NaN,DEV
4,5,Senior Software Engineer,JavaScript,NaN,10 и более лет,0.5,4500,500,Другой,до 10 человек,...,False,средний,"Desktop Applications,Веб-разработка",12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,NaN,DEV

# 2.3 - Определите размер таблицы с помощью метода shape

In [ ]:
final_copy.shape

(8704, 25)

# 2.4 - Определите типы всех столбцов с помощью dataframe.dtypes

In [ ]:
final_copy.dtypes

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

# 2.5 - Посчитайте, какая доля пропусков содержится в каждой колонке (используйте методы isnull и sum)

In [ ]:
final_copy.isnull().sum()

N                                      0
Должность                              0
Язык.программирования               3850
Специализация                       7219
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Университет                          358
Еще.студент                            0
Уровень.английского                    0
Предметная.область                   223
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

# 2.6 - Удалите все столбцы с пропусками, кроме столбца "Язык.программирования"

In [ ]:
final_d = final_copy.drop(['Специализация', 'Университет', 'Предметная.область', 'Валюта', 'cls'], axis=1)

In [ ]:
final_d

,N,Должность,Язык.программирования,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,Тип.компании,Пол,Возраст,Образование,Еще.студент,Уровень.английского,Дата.заполнения,User.Agent,exp,current_job_exp,salary
0,1,Junior QA engineer,NaN,0.5,0.5,400,0,Харьков,до 10 человек,Аутсорсинговая,женский,20,Незаконченное высшее,True,ниже среднего,12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400
1,2,Junior QA engineer,NaN,меньше 3 месяцев,меньше 3 месяцев,430,130,Харьков,свыше 1000 человек,Аутсорсинговая,женский,21,Незаконченное высшее,True,выше среднего,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430
2,3,Software Engineer,C#/.NET,4,1,2500,800,Киев,до 1000 человек,Аутсорсинговая,мужской,26,Высшее,False,средний,12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500
3,4,Software Engineer,JavaScript,5,4,2000,400,Одесса,до 200 человек,Продуктовая,мужской,30,Среднее,False,ниже среднего,12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000
4,5,Senior Software Engineer,JavaScript,10 и более лет,0.5,4500,500,Другой,до 10 человек,Продуктовая,мужской,30,Техникум / Колледж,False,средний,12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8699,8700,QA engineer,NaN,1,меньше 3 месяцев,700,700,Одесса,до 50 человек,Аутсорсинговая,мужской,23,Высшее,False,средний,12/07/2017 15:45:24,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....,1.0,0.0,700
8700,8701,Marketing,NaN,0.5,0.5,400,120,Киев,до 50 человек,Продуктовая,женский,22,Высшее,False,ниже среднего,12/07/2017 17:00:06,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400
8701,8702,Junior Software Engineer,Ruby/Rails,1,0.5,800,500,Львов,до 10 человек,Аутстаффинговая,мужской,30,Незаконченное высшее,False,выше среднего,12/07/2017 17:32:26,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,0.5,800
8702,8703,Team lead,NaN,6,4,2600,0,Днепр,свыше 1000 человек,Аутсорсинговая,мужской,34,Высшее,False,продвинутый,12/07/2017 18:14:59,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,6.0,4.0,2600
8703,8704,Senior Software Engineer,Java,7,2,5000,800,Одесса,до 1000 человек,Продуктовая,мужской,28,Высшее,False,выше среднего,12/07/2017 21:28:57,Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...,7.0,2.0,5000

# 2.7 - Опять посчитайте, какая доля пропусков содержится в каждой колонке и убедитесь, что остался только столбец "Язык.программирования"

In [ ]:
final_d.isnull().sum()

N                                      0
Должность                              0
Язык.программирования               3850
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Еще.студент                            0
Уровень.английского                    0
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
dtype: int64

# 2.8 - Удалите все строки в исходной таблице с помощью метода dropna

In [ ]:
final_d_na = final_d.dropna()

In [ ]:
final_d_na

,N,Должность,Язык.программирования,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,Тип.компании,Пол,Возраст,Образование,Еще.студент,Уровень.английского,Дата.заполнения,User.Agent,exp,current_job_exp,salary
2,3,Software Engineer,C#/.NET,4,1,2500,800,Киев,до 1000 человек,Аутсорсинговая,мужской,26,Высшее,False,средний,12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500
3,4,Software Engineer,JavaScript,5,4,2000,400,Одесса,до 200 человек,Продуктовая,мужской,30,Среднее,False,ниже среднего,12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000
4,5,Senior Software Engineer,JavaScript,10 и более лет,0.5,4500,500,Другой,до 10 человек,Продуктовая,мужской,30,Техникум / Колледж,False,средний,12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500
6,7,Junior Software Engineer,C#/.NET,1,меньше 3 месяцев,600,100,Хмельницкий,до 50 человек,Аутсорсинговая,мужской,23,Высшее,False,ниже среднего,12/06/2017 13:04:26,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1.0,0.0,600
7,8,Senior Software Engineer,C++,6,1,3300,500,Киев,до 10 человек,Продуктовая,мужской,28,Высшее,False,выше среднего,12/06/2017 13:04:27,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....,6.0,1.0,3300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8692,8693,Software Engineer,Java,5,1,3500,650,Удаленно,до 200 человек,Аутсорсинговая,женский,28,Высшее,False,средний,12/07/2017 13:26:49,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...,5.0,1.0,3500
8694,8695,Junior Software Engineer,C#/.NET,1,1,550,550,Харьков,до 200 человек,Аутсорсинговая,мужской,23,Высшее,False,ниже среднего,12/07/2017 14:14:33,Mozilla/5.0 (Windows NT 10.0; WOW64; rv:54.0) ...,1.0,1.0,550
8695,8696,Software Engineer,Python,1,0.5,1500,1000,Киев,до 10 человек,Стартап,мужской,29,Высшее,False,средний,12/07/2017 14:39:21,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,0.5,1500
8701,8702,Junior Software Engineer,Ruby/Rails,1,0.5,800,500,Львов,до 10 человек,Аутстаффинговая,мужской,30,Незаконченное высшее,False,выше среднего,12/07/2017 17:32:26,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,0.5,800
8703,8704,Senior Software Engineer,Java,7,2,5000,800,Одесса,до 1000 человек,Продуктовая,мужской,28,Высшее,False,выше среднего,12/07/2017 21:28:57,Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...,7.0,2.0,5000

# 2.9 - Определите новый размер таблицы с помощью метода shape

In [ ]:
final_d_na.shape

(4854, 20)

# 2.10 - Создайте новую таблицу python_data в которой будут только строки со специалистами указавшими язык программирования Python

In [ ]:
final_d_copy = final_d_na.copy()

In [ ]:
python_data = final_d_copy[final_d_copy['Язык.программирования'] == 'Python']

In [ ]:
python_data

,N,Должность,Язык.программирования,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,Тип.компании,Пол,Возраст,Образование,Еще.студент,Уровень.английского,Дата.заполнения,User.Agent,exp,current_job_exp,salary
12,13,Software Engineer,Python,1,меньше 3 месяцев,800,200,Киев,до 50 человек,Аутсорсинговая,мужской,26,Высшее,False,ниже среднего,12/06/2017 13:05:54,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,1.0,0.0,800
68,69,Software Engineer,Python,1.5,0.5,900,900,Киев,до 10 человек,Стартап,мужской,21,Незаконченное высшее,True,выше среднего,12/06/2017 13:11:17,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1.5,0.5,900
87,88,Junior Software Engineer,Python,0.5,0.5,600,0,Киев,до 10 человек,Аутсорсинговая,мужской,19,Незаконченное высшее,True,выше среднего,12/06/2017 13:12:25,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,0.5,0.5,600
114,115,Junior Software Engineer,Python,1.5,0.5,685,250,Киев,до 1000 человек,Аутсорсинговая,мужской,21,Незаконченное высшее,False,средний,12/06/2017 13:14:52,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.5,0.5,685
143,144,Junior Software Engineer,Python,1,1,750,250,Киев,до 10 человек,Аутсорсинговая,мужской,21,Незаконченное высшее,True,выше среднего,12/06/2017 13:19:10,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,1.0,750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8546,8547,Software Engineer,Python,5,1,2000,800,Запорожье,до 50 человек,Аутсорсинговая,мужской,22,Незаконченное высшее,False,средний,10/07/2017 14:11:26,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...,5.0,1.0,2000
8625,8626,Software Engineer,Python,4,1,1750,0,Киев,свыше 1000 человек,Аутсорсинговая,мужской,28,Среднее,False,средний,11/07/2017 16:15:40,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....,4.0,1.0,1750
8635,8636,Senior Software Engineer,Python,10 и более лет,меньше 3 месяцев,4000,1300,Удаленно,до 10 человек,Стартап,мужской,33,Высшее,False,выше среднего,11/07/2017 17:51:36,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,10.0,0.0,4000
8673,8674,Junior Software Engineer,Python,0.5,0.5,350,50,Киев,до 50 человек,Аутсорсинговая,мужской,22,Высшее,False,средний,12/07/2017 09:37:16,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....,0.5,0.5,350
8695,8696,Software Engineer,Python,1,0.5,1500,1000,Киев,до 10 человек,Стартап,мужской,29,Высшее,False,средний,12/07/2017 14:39:21,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,0.5,1500

# 2.11 - Определите размер таблицы python_data с помощью метода shape

In [ ]:
python_data.shape

(207, 20)

# 2.12 - Используя метод groupby выполните группировку по столбцу "Должность"

In [ ]:
python_data_title = python_data.groupby('Должность')

In [ ]:
python_data_title.first()

,N,Язык.программирования,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,Тип.компании,Пол,Возраст,Образование,Еще.студент,Уровень.английского,Дата.заполнения,User.Agent,exp,current_job_exp,salary
Должность,,,,,,,,,,,,,,,,,,,
Junior Software Engineer,88,Python,0.5,0.5,600,0,Киев,до 10 человек,Аутсорсинговая,мужской,19,Незаконченное высшее,True,выше среднего,12/06/2017 13:12:25,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,0.5,0.50,600
Senior Software Engineer,303,Python,10 и более лет,0.5,3500,-300,Киев,до 200 человек,Продуктовая,мужской,30,Высшее,False,выше среднего,12/06/2017 13:46:24,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,10.0,0.50,3500
Software Engineer,13,Python,1,меньше 3 месяцев,800,200,Киев,до 50 человек,Аутсорсинговая,мужской,26,Высшее,False,ниже среднего,12/06/2017 13:05:54,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,1.0,0.00,800
System Architect,5749,Python,10 и более лет,0.25,3000,0,Киев,до 50 человек,Продуктовая,мужской,40,Высшее,False,выше среднего,20/06/2017 18:40:40,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....,10.0,0.25,3000
Technical Lead,2633,Python,4,1.5,3500,1000,Киев,до 50 человек,Продуктовая,мужской,23,Незаконченное высшее,False,выше среднего,13/06/2017 12:37:02,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...,4.0,1.50,3500

In [ ]:
# python_data.groupby('Должность').first()

# 2.13 - Создайте новый DataFrame, где для сгруппированных данных по столбцу "Должность", выполните агрегацию данных с помощью метода agg и найдите минимальное и максимальное значение в столбце "Зарплата.в.месяц"

In [ ]:
new_python_data = python_data.groupby(['Должность'])[['Зарплата.в.месяц']].agg(['min', 'max'])

In [ ]:
new_python_data

                         Зарплата.в.месяц
                                      min   max
Должность
Junior Software Engineer              100  1250
Senior Software Engineer             1300  9200
Software Engineer                     500  5400
System Architect                     3000  5000
Technical Lead                       1425  6200

# 2.14 - Создайте функцию fill_avg_salary которая будет возвращать среднее значение заработной платы в месяц. Используйте ее для метода apply и создайте новый столбик "avg"

In [ ]:
def fill_avg_salary(data):
    new_pyt_data = python_data.groupby(['Должность'])[['Зарплата.в.месяц']].agg(['min', 'max'])
    result = (new_pyt_data.sum(axis=1)/2)
    return result

In [ ]:
pyt_mean = fill_avg_salary(python_data)

In [ ]:
pyt_mean

Должность
Junior Software Engineer     675.0
Senior Software Engineer    5250.0
Software Engineer           2950.0
System Architect            4000.0
Technical Lead              3812.5
dtype: float64

In [ ]:
# pyt_mean[0]

In [ ]:
new_python_data["avg"] = pyt_mean.apply(lambda x: x)

In [ ]:
# new_python_data["avg"] = [1, 2, 3, 4, 5]

In [ ]:
new_python_data

                         Зарплата.в.месяц           avg
                                      min   max
Должность
Junior Software Engineer              100  1250   675.0
Senior Software Engineer             1300  9200  5250.0
Software Engineer                     500  5400  2950.0
System Architect                     3000  5000  4000.0
Technical Lead                       1425  6200  3812.5

# 2.15 - Создайте описательную статистику с помощью метода describe для нового столбца.

In [ ]:
new_python_data['avg'].describe()

count       5.000000
mean     3337.500000
std      1700.091909
min       675.000000
25%      2950.000000
50%      3812.500000
75%      4000.000000
max      5250.000000
Name: avg, dtype: float64

#2.16 - Сохраните полученную таблицу в CSV файл

In [ ]:
new_python_data.to_csv('new_python_data.csv')